<form class="" action="/Courses" method="post">
  <label for="name">Name: </label>
  <input id="name" name="name" type="text"><br><br>
  <label for="description">Description: </label>
  <input id="description" name="description" type="text"><br><br>
<button type="submit">Submit</button>
</form>
